<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.pojo.CustomerLogin">
  <resultMap id="BaseResultMap" type="com.shopping.pojo.Cart">
    <id column="cust_id" jdbcType="VARCHAR" property="custId" />
    <id column="goods_id" jdbcType="VARCHAR" property="goodsId" />
    <result column="cart_id" jdbcType="INTEGER" property="cartId" />
    <result column="quality" jdbcType="INTEGER" property="quality" />
    <result column="add_time" jdbcType="DATE" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
    cust_id, goods_id, cart_id, quality, add_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.shopping.pojo.CartKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cart
    where cust_id = #{custId,jdbcType=VARCHAR}
      and goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.shopping.pojo.CartKey">
    delete from cart
    where cust_id = #{custId,jdbcType=VARCHAR}
      and goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.my.shopping.Cart">
    insert into cart (cust_id, goods_id, cart_id, 
      quality, add_time)
    values (#{custId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{cartId,jdbcType=INTEGER}, 
      #{quality,jdbcType=INTEGER}, #{addTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.my.shopping.Cart">
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        cust_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="cartId != null">
        cart_id,
      </if>
      <if test="quality != null">
        quality,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="cartId != null">
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        #{quality,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.shopping.Cart">
    update cart
    <set>
      <if test="cartId != null">
        cart_id = #{cartId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        quality = #{quality,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=DATE},
      </if>
    </set>
    where cust_id = #{custId,jdbcType=VARCHAR}
      and goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.shopping.Cart">
    update cart
    set cart_id = #{cartId,jdbcType=INTEGER},
      quality = #{quality,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=DATE}
    where cust_id = #{custId,jdbcType=VARCHAR}
      and goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
</mapper>